.sectiontwo__container {
    background-color: #8b0202;
    padding: 10px;
    border-top-right-radius: 100px;
}

.main__container {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.desc__text {
    width: 70%;
}

.desc__text p {
    font-family: 'roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;

}

.top__text {
    margin-bottom: 20px;

}

.top__text h2 {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}